/***************
 General style 
 **************/
:root {
    --main-color: #343434;
    --main-font: 'Poppins', sans-serif;
    --header-font: "Montserrat", sans-serif;
    --bg-color: #F7F7F7;
}

* {
    scroll-padding-top: 72px;
}

body {
    font-family: var(--main-font);

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);

}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

ul li {
    list-style-type: none;
}

.custom-color {
    color: var(--main-color);
}

/***************
 navbar style 
 **************/

.navbar-brand {
    font-family: var(--header-font);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white
}

nav .nav-item a {
    position: relative;
}

nav .nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.8s;
}

nav .nav-item a.active::after {
    background-color: #fff;
    width: 100%;
}

.navbar-brand {
    font-weight: 800;
    font-size: 20px;
}

/***************
 header style 
 **************/
header.home-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.typing::after {
    content: "";
    animation: header-typing 10s ease-out infinite;
    white-space: nowrap;

}

.home-section h5 {
    font-size: 50px;
    font-weight: 800;
}

.home-section .header-icons {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

}


/***************
 animation style 
 **************/
@keyframes header-typing {
    0% {
        content: "|";
    }

    1% {
        content: "|";
    }

    2% {
        content: "L|";
    }

    3% {
        content: "La|";
    }

    4% {
        content: "Lar|";
    }

    5% {
        content: "Larr|";
    }

    6% {
        content: "Larry|";
    }

    7% {
        content: "Larry |";
    }

    8% {
        content: "Larry D|";
    }

    9% {
        content: "Larry Da|";
    }

    10% {
        content: "Larry Dan|";
    }

    11% {
        content: "Larry Dani|";
    }

    12% {
        content: "Larry Danie|";
    }

    13% {
        content: "Larry Daniel|";
    }

    14% {
        content: "Larry Daniels|";
    }

    15% {
        content: "Larry Daniels.|";
    }

    16% {
        content: "Larry Daniels.|";
    }

    17% {
        content: "Larry Daniels.|";
    }

    18% {
        content: "Larry Daniels|";
    }

    19% {
        content: "Larry Daniel|";
    }

    20% {
        content: "Larry Danie|";
    }

    21% {
        content: "Larry Dani|";
    }

    22% {
        content: "Larry Dan|";
    }

    23% {
        content: "Larry Da|";
    }

    24% {
        content: "Larry D|";
    }

    25% {
        content: "Larry |";
    }

    26% {
        content: "Larry|";
    }

    27% {
        content: "Larr|";
    }

    28% {
        content: "Lar|";
    }

    29% {
        content: "La|";
    }

    30% {
        content: "L|";
    }

    31% {
        content: "|";
    }

    32% {
        content: "|";
    }

    33% {
        content: "|";
    }

    34% {
        content: "D|";
    }

    35% {
        content: "De|";
    }

    36% {
        content: "Dev|";
    }

    37% {
        content: "Deve|";
    }

    38% {
        content: "Devel|";
    }

    39% {
        content: "Develo|";
    }

    40% {
        content: "Develop|";
    }

    41% {
        content: "Develope|";
    }

    42% {
        content: "Developer|";
    }

    43% {
        content: "Developer.|";
    }

    44% {
        content: "Developer.|";
    }

    45% {
        content: "Developer.|";
    }

    46% {
        content: "Developer|";
    }

    47% {
        content: "Develope|";
    }

    48% {
        content: "Develop|";
    }

    49% {
        content: "Develo|";
    }

    50% {
        content: "Devel|";
    }

    51% {
        content: "Deve|";
    }

    52% {
        content: "Dev|";
    }

    53% {
        content: "De|";
    }

    54% {
        content: "D|";
    }

    55% {
        content: "|";
    }

    56% {
        content: "|";
    }

    57% {
        content: "|";
    }

    58% {
        content: "D|";
    }

    59% {
        content: "De|";
    }

    60% {
        content: "Des|";
    }

    61% {
        content: "Desi|";
    }

    62% {
        content: "Desig|";
    }

    63% {
        content: "Design|";
    }

    64% {
        content: "Designe|";
    }

    65% {
        content: "Designer|";
    }

    66% {
        content: "Designer.|";
    }

    67% {
        content: "Designer.|";
    }

    68% {
        content: "Designer.|";
    }

    69% {
        content: "Designer|";
    }

    70% {
        content: "Designe|";
    }

    71% {
        content: "Design|";
    }

    72% {
        content: "Desig|";
    }

    73% {
        content: "Desi|";
    }

    74% {
        content: "Des|";
    }

    75% {
        content: "De|";
    }

    76% {
        content: "D|";
    }

    77% {
        content: "|";
    }

    78% {
        content: "|";
    }

    79% {
        content: "|";
    }

    80% {
        content: "|";
    }

    81% {
        content: "|";
    }

    82% {
        content: "|";
    }

    83% {
        content: "|";
    }

    84% {
        content: "|";
    }

    85% {
        content: "|";
    }

    86% {
        content: "|";
    }

    87% {
        content: "|";
    }

    88% {
        content: "|";
    }

    89% {
        content: "|";
    }

    90% {
        content: "|";
    }

    91% {
        content: "|";
    }

    92% {
        content: "|";
    }

    93% {
        content: "|";
    }

    94% {
        content: "|";
    }

    95% {
        content: "|";
    }
}

/***************
 about me style 
 **************/
.about .about-img {
    background-color: #FBFBFB;
    position: relative;
}

.about-img {
    position: relative;
}

.about-img::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: -15px;
    bottom: -31px;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    background-size: 10px 10px;
    z-index: 1;
}

.about-img img {
    position: relative;
    z-index: 2;
}

.about-content p {
    color: #748182;
    font-size: 14px;
}

.about-content .ui-ux {
    color: #999;
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
}

/* progress style */
.skill-container {
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 2px;
    overflow: hidden;
    height: 23px;
}

.progress {
    height: 100%;
    background-color: #0d0d1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 14px;

}

.label {
    text-align: left;
}

.percentage {
    text-align: right;
}

/* button style */
.button-style .btn-one {
    padding-inline: 30px;
    padding-block: 9px;
    font-size: 13px;
    transition: all 0.5s;
}

.button-style .btn-two {
    padding-inline: 30px;
    padding-block: 9px;
    font-size: 13px;
    transition: all 0.5s;
}

.btn-one.btn-primary {
    background-color: black;
    border-color: black;
}

.btn-one.btn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-two.btn-outline-primary {
    color: black;
    background-color: white;
    border-color: black;
}

.btn-two.btn:hover {
    color: white;
    background-color: black;
    border-color: black;
}

/***************
 services style 
 **************/
.section-title h3::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 30px;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    background-size: 10px 10px;
    z-index: -1;
}

.section-title h3 {
    position: relative;
    z-index: 1;
    font-weight: 900;
    font-size: 40px;
}

.services-section {
    background-color: var(--bg-color);
}

.item {
    background-color: white;
}

.item h6 {
    font-weight: 800;
    font-size: 18px;
}

.item p {
    font-size: 14px;
    color: #748182;
}

.icon-style {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: all 0.5s;
    font-size: 30px;
}

.item:hover .icon-style {
    background-color: black;
    color: white;
}


/***************
 portfolio style 
 **************/
.portfolio-section .nav-pills .nav-link {
    color: #222;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
    background-color: unset;
    transition: all 1s;


}

.portfolio-section .nav-pills .nav-link.active,
.portfolio-section .nav-pills .show>.nav-link {
    font-weight: 700;
}

.portfolio-section .nav-pills .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #222;
    transition: all 0.5s ease;
}

.portfolio-section .nav-pills .nav-link.active::after {
    left: 20%;
    width: 60%;
}

.portfolio-section .layer {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.94);
    transition: 0.5s all;
    transform: scale(0.87);
}

.portfolio-section .inner:hover .layer {
    opacity: 1;
}


.portfolio-section .cap-top {
    transform: translateY(-100%);
    transition: 0.6s all;
}

.portfolio-section .cap-bottom {
    transform: translateY(100%);
    transition: 0.6s all;
}

.portfolio-section .inner:hover .cap-top,
.portfolio-section .inner:hover .cap-bottom {
    transform: translateY(0);
}

.portfolio-section .port-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    transition: all 0.5s;
    font-size: 14px;
    border: 1px black solid;
    cursor: pointer;

}

.portfolio-section .port-icon:hover {
    background-color: white;
    color: black;
}

/***************
 clients style 
 **************/
.clients {
    background-color: var(--bg-color);
}

.clients img {
    width: 90px;
    margin: 0 auto;
    height: 90px;
}

.clients p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

.clients small {
    color: #888;
    font-weight: 600;
    font-size: 12px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 7px;
    background: #869791;
    padding: 0;
    border: none;

}

.carousel-item {
    min-height: 280px;
}

.carousel-indicators [data-bs-target]:hover {
    background: rgb(59, 66, 64);
}

/***************
 counter style 
 **************/
.counter i,
h3 {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}

.counter p {
    color: #748182;

    font-size: 15px;
}

/***************
 team style 
 **************/
.team {
    background-color: var(--bg-color);
}

.team .card-body {
    background-color: #5B5B5B;
    color: white;
}

.team .card {
    border: unset;
    border-bottom: 3px solid #5B5B5B;
}

.card-layer {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: white;
    opacity: 0;
    transform: rotateY(180deg);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card:hover .card-layer {
    opacity: 0.92;
    transform: rotateY(0deg);
}

.card-img img {
    transition: transform 0.3s ease;
}

.card-img:hover img {
    transform: scale(1.1);
}

.card-layer .work-caption {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-layer .work-caption .work-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    transition: all 0.5s;
    font-size: 14px;
    border: 1px black solid;
    cursor: pointer;
    font-size: 20px;

}


.card-layer .work-caption .work-icon:hover {
    background-color: white;
    color: black;
}

/*  */

.contact-inner:hover .icon-style {
    background-color: black;
    color: white;
}

.contact-inner h6 {
    font-weight: 700;
}

.contact-inner p {
    color: #748182;
    font-size: 15px;
}

/***************
 contact us style 
 **************/


.form-control {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
    font-size: 14px;
}

.form-control:focus {
    color: unset;
    background-color: #f4f4f4;
    border-color: unset;
    box-shadow: unset;
}
/***************
 footer style 
 **************/

footer {
    background-color: #1C1C1C;
}

footer p {

    color: #748182;
    font-size: 13px;
    word-spacing: 2px;
    margin-bottom: 0;
}